

#hearts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10px;
    grid-gap: 10px;
    max-width: 360px;

    .heart {
        /*background: red;*/
        border: 2px solid black;
        height: 15px;
        border-radius: 20px;

        transition: background 400ms ease;
    }
}

.heart_wrong_animation {
    animation: heart-wrong 200ms ease 2;
}

@keyframes heart-wrong {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(8deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-8deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}