

#images {
    position: relative;
    width: 360px;
    height: 360px;
    background: blue;
    margin-bottom: 10px;
    border-radius: 50px;
    
    .image {
        position: absolute;
        border: 5px solid black;
        border-radius: 10px;

        transition-property: transform;
        transition-duration: 600ms;
        transition-timing-function: cubic-bezier(0.18,0.89,0.32,1.27);
    }
}
